* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

p {
    cursor: default;
}

table tbody {
    display: block;
    overflow: auto;
}

table thead,
tbody tr,
tfoot tr,
thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}