* {
    margin: 0;
    padding: 0;
    /* user-select: none; */
}
p {
    cursor: default;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', serif
}

.load_gif {
    background-image: url('./resource/img/load.gif');
}

.node rect, .node circle, .node polygon {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}
.node .label {
    font-size: 14px;
    font-family: sans-serif;
    fill: #333;
}
.edgePath path {
    stroke: #555;
    stroke-width: 1.5px;
    fill: none;
}